input[type=radio] {z-index:-1000; left:-10000px;	position:absolute;}

input[type=radio]+ span.css-span,
input[type=radio]+ label.css-span,
input[type=radio].css-checkbox + span.css-span.clr,input[type=radio].css-checkbox + label.css-span.clr {
							padding-left:30px;
							height:20px;
							display:inline-block;
							line-height:20px;
							background-repeat:no-repeat;
							vertical-align:middle;
							cursor:pointer;
						}
						span.css-span, label.css-span {
				background-image: url(../../img/formelements.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

			}
span.chk  ,label.chk,.css-label-cbk.chk,.calenderTable td.priceSelectedEffectOff span, .calenderTable td.priceSelectedEffectOn span,td.selected span.css-span,tr.flightSelectedEffectOff span.css-span,tr.flightSelectedEffectOn span.css-span,.itinerary td.priceEffectOn span.css-span,.itinerary td.priceEffectOff span.css-span,.selectedFlight span.css-span{background-position: 0 -20px; font-weight: bold;}
#pageFFCC .itinerary td.priceSelectedEffectOn span.css-span,#pageFFCC .itinerary td.priceSelectedEffectOff span.css-span, #pageFFPC .itinerary td.priceSelectedEffectOn span.css-span,#pageFFPC .itinerary td.priceSelectedEffectOff span.css-span {background-position: 0 -20px; font-weight: bold;}
#pageFFCC .itinerary td.priceEffectOn span.css-span,#pageFFCC .itinerary td.priceEffectOff span.css-span, #pageFFPC .itinerary td.priceEffectOn span.css-span,#pageFFPC .itinerary td.priceEffectOff span.css-span {background-position: 0 0; font-weight: normal;}
span.clr ,label.clr,.css-label-cbk.clr{background-position: 0 0; font-weight: normal;}
.css-label-cbk.greenCheck.chk{background-position: 0 -158px;}
/*Checkbox*/input[type=checkbox] {
							  position: absolute;
							overflow: hidden;
							clip: rect(0 0 0 0);
							height:1px;
							width:1px;
							margin:-1px;
							padding:0;
							border:0;
							left:-9999px;
						}

						input[type=checkbox]+ label.css-label-cbk {
							padding-left:20px;
								height:22px!important;
							display:inline-block;
							line-height:22px!important;
							font-size:15px;
							vertical-align:middle;
							cursor:pointer;
						}

						/*input[type=checkbox:checked + label.css-label-cbk {
							background-position: 0 -15px;
						}
						*/
						.css-label-cbk{
							background-image: url(../../img/formelements.png)!important;
							height:22px!important;
							display:inline-block;
							line-height:22px!important;
							background-repeat:no-repeat;
							padding-left:30px;
							vertical-align:middle;
							cursor:pointer;
							margin-left:0px!important;

						}

.css-span-cbkdisabled{ background: url(../../img/formelements.png) no-repeat 0 -110px!important; cursor:default!important;	padding-left:30px;}
.css-span-rdodisabled{ background: url(../../img/formelements.png) no-repeat 0 -40px!important; cursor:default!important;	padding-left:30px;}
.css-span-rdochkdisabled{ background: url(../../img/formelements.png) no-repeat 0 -184px!important; cursor:default!important;	padding-left:30px;}
.css-label-cbk.chk{background-position: 0 -63px;}
.css-label-cbk.clr{background-position: 0 -86px;}
#pageFFPR .flightSelectionTable span.css-span , #pageFFCO #FFPRfares   span.css-span,#pageFFCO .flightSelectionTable span.css-span,#pageFFCO  .fareFamilyReloaded  span.css-span{display:inline;}
#pageFFCO span.css-span{display:inline;}
#pageFFCC.KA .itinerary td.priceSelectedEffectOn span.css-span,#pageFFCC.KA .itinerary td.priceSelectedEffectOff span.css-span, #pageFFPC.KA .itinerary td.priceSelectedEffectOn span.css-span,#pageFFPC.KA .itinerary td.priceSelectedEffectOff span.css-span {background-position: 0 -134px; font-weight: bold;}

#pageFFPR span.css-span{padding-left: 29px;}

#pageFFPR .FFPR-table span.css-span{display:inline-block;}

.KA span.chk  ,.KA label.chk,.KA .calenderTable td.priceSelectedEffectOff span,.KA .calenderTable td.priceSelectedEffectOn span,.KA .itinerary td.priceEffectOn span.css-span,.KA .itinerary td.priceEffectOff span.css-span,.KA td.selected span.css-span,.KA tr.flightSelectedEffectOff span.css-span,.KA tr.flightSelectedEffectOn span.css-span,.KA #pageAVAI .selectedFlight span.css-span{background-position: 0 -134px;}
.KA span.clr ,.KA label.clr{background-position: 0 0;}

.KA .css-label-cbk.chk{background-position: 0 -158px;}
.KA .css-label-cbk.clr{background-position: 0 -86px;}
.KA #IAgreeCbk.css-label-cbk.chk{background-position: 0 -158px;}
.KA #IAgreeCbk.css-label-cbk.clr{background-position: 0 -86px;}
#FareReloadedScene2_PEY span.css-span, #fareFamilyReloaded_2  span.css-span{display:inline-block;}
#pageFFCO #FFPRfares   span.css-span,#pageFFCO .flightSelectionTable span.css-span,#pageFFCO  .fareFamilyReloaded  span.css-span{display:inline-block;}
input[type=radio]+ label.css-span.creditCard{
	padding-left:24px;
	height:20px;
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	vertical-align:middle;
	cursor:pointer;
	}
#pageAVAI tr td span.css-span,#pageAVAC tr td span.css-span{background-position: 0 0px;}
#pageAVAI tr.selectedFlight span.css-span,#pageAVAC tr.selectedFlight span.css-span{background-position: 0 -20px;}
#pageAVAI.KA tr.selectedFlight span.css-span,#pageAVAC.KA tr.selectedFlight span.css-span{background-position: 0 -134px;}
input[type="text"]:disabled {
    color: #d7d7d7;
}